*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/hackerrankApp/out
/hackerrankApp/project
/hackerrankApp/target
/hackerrankApp/scalaApp.iml
/hackerrankApp/.idea
